<%= turbo_frame_tag 'categories' do %>
  <h2><%= t('.title') %></h2>

  <%= form_with url: products_path, method: :get do |form| %>
    <%= form.text_field :query_text, placeholder: t('.query_text'), onChange: 'this.form.requestSubmit()', value: params[:query_text] %>

    <%= form.number_field :min_price, placeholder: t('.min_price'), onChange: 'this.form.requestSubmit()', value: params[:min_price] %>

    <%= form.number_field :max_price, placeholder: t('.max_price'),onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
  <% end %>

  <%= link_to t('.all'), products_path %>

  <%= render partial: 'category', collection: @categories %>

  <%= render partial: 'product', collection: @products %>
<% end %>
