<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>

<h1 class='title'><%= @product.title %></h1>

<p class='description'><%= @product.description %></p>

<span class='price'><%= @product.price %>$</span>

<%= link_to t('.edit'), edit_product_path(@product) %>

<%= link_to t('.delete'), product_path(@product), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} %>
